.container {
	margin-top: 50px;
}

h2 {

}

#page ul.pageNav {
	margin: 0 0 10px;
	padding: 10px 10px 5px;
	background: #fff;
	border: 1px solid #ccc;
	text-align: center;
}

#page ul.pageNav li {
	display: inline;
	margin: 0 2px;
	padding: 0;
}

#page ul.pageNav li span, #page ul.pageNav li a {
	display: inline-block;
	margin-bottom: 5px;
	padding: 5px 13px;
	background: #eeeff7;
	text-decoration: none;
	vertical-align: middle;
}

#page ul.pageNav li a:hover {
	color: #000;
	background: #ccf;
	border-color: #00f;
}

.card {
	margin: 10px;
}

.reco {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%); /* Safari用 */
	transform: translateY(-50%);
}